@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}


@media screen and (max-width: 430px){
    .container{
        width: 100vw;
        height: 100vh;
    }

    .card-container{
        width: 100%;
        min-height: 300px;
        height: 35vh;

        .card-background{
            width: 100%;
            min-height: 250px;
            height: 30vh;
            position: relative;

            .background{
                min-height: 250px;
                height: 30vh;
                width: 100%;
            }

        }

        .back, .front{
            position: absolute;
            min-width: 250px;
            max-width: 300px;
            width: 75%;

            img{
                width: 100%;
            }
        }

        .back{
            top: 40px;
            right: 20px;
        }
        .front{
            bottom: -50px;
            left: 20px;

            svg{
                position: absolute;
                top: 20px;
                
            }

        }

        .front p:nth-child(2){
            position: absolute;
            bottom: 50px;
            left: 20px;
            font-size: 5vw;
            color: white;
        }
        .front p:nth-child(3){
            position: absolute;
            bottom: 15px;
            left: 20px;
            font-size: .8rem;
            color: white;
            text-transform: uppercase;
        }

        .front p:nth-child(4){
            position: absolute;
            bottom: 15px;
            right: 20px;
            font-size: .8rem;
            color: white;
            text-transform: uppercase;
        }


        
    }

    /* Card INFO */

    .card-details-info{
        padding: 50px 20px;

        form{
            display: flex;
            flex-direction: column;

            label{
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            input{
                padding: 10px;
                margin-bottom: 20px;
                border-radius: 5px;
                border: 1px solid rgb(206, 199, 199);
                font-size: 17px;
                outline-color: rgb(155, 122, 155);
            }

            input[type="submit"]{
                background-color: rgb(47, 23, 63);
                color: white;
                padding: 15px;
                border-radius: 10px;
                text-transform: capitalizes;
            }


            .date-cvc{
                display: flex;
                gap: 20px;
                align-items: center;

                .date{

                    input{
                        width: 47%;
                    }
                }

                .cvc{
                    min-width: 50%;

                    input{
                        width: 100%;
                    }
                }
            
                label{
                    display: block;
                }

                input{
                    width: 100px;
                }
            }
        }

    }
}